@model IEnumerable<E_Plantation.Models.clsMenu>
@using E_Plantation.App_Helpers

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item" id="lihome_">
            <a class="nav-link collapsed" id="ahome">
                <i class="bi bi-grid"></i><span>Dashboard </span>
            </a>
        </li>
        <li class="nav-item @Html.IsMenuActive("master","active")" id="limaster_">
            <a class="nav-link collapsed" data-bs-target="#ulmaster" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Master</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="ulmaster" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                @foreach (var menu in Model)
                {
                    if (menu.GrupMenu == "Master")
                    {
                        <li  class="@Html.IsMenuActive("master","active")"><a href="@menu.MenuLink" class=""> <i class="bi bi-circle"></i><span>@menu.NamaMenu</span></a></li>
                    }
                }
            </ul>
        </li>
        @*<li class="nav-item @Html.RouteIf("lhm","äctive")"" id="lilhm">
                <a class="nav-link collapsed" data-bs-target="#ullhm" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>LHM</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="ullhm" class="nav-content collapse " data-bs-parent="#sidebar-nav">

                    <li id="liDailyControl"><a href="~/LHM/DailyControl.aspx" id="a1"><i class="bi bi-circle"></i><span>Daily Control</span></a></li>

                </ul>
            </li>
            <li class="nav-item" id="lisetting_">
                <a class="nav-link collapsed" data-bs-target="#ulsetting" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Setting</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="ulsetting" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li id="lisetvariable"><a href="~/Setting/SetVariable.aspx" id="asetvariable"><i class="bi bi-circle"></i><span>Set Variable</span></a></li>
                </ul>
            </li>
            <li class="nav-item" id="lisetting_" runat="server">
                <a class="nav-link collapsed" data-bs-target="#ulsetting" data-bs-toggle="collapse" href="#"><i class="bi bi-gear-fill"></i><span>Setting</span><i class="bi bi-chevron-down ms-auto"></i></a>
                <ul class="nav-content collapse " data-bs-parent="#sidebar-nav" id="ulsetting">
                    <li id="liuser" runat="server"><a id="auser"><i class="bi bi-circle"></i><span>User</span></a></li>
                    <li id="lichangestatus" runat="server"><a id="achangestatus"><i class="bi bi-circle"></i><span>Change Status</span></a></li>
                    <li id="libackup" runat="server"><a id="abackup"><i class="bi bi-circle"></i><span>Back Up</span></a></li>
                    <li id="limonitor" runat="server"><a id="amonitor"><i class="bi bi-circle"></i><span>Monitor </span></a></li>
                </ul>
            </li>*@
    </ul>

</aside>

