
@{
    ViewBag.Title = "Divisi";
    ViewBag.Root = "Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<div class="row">
    <div class="col-lg-12">
        <div class="card info-card  ">

            <div class="card-body" id="divData">
                <div class="row">
                    <div class="col-lg-6 ">
                        <button class="btn  btn-primary btn-sm" id="btnAdd" onclick="AddNewData(0)" data-toggle="modal" data-target="#myModal" type="button"><i class="bi bi-plus-square"></i> Add</button>
                    </div>
                    <div class="col-lg-6 text-end">
                        <button class="btn  btn-success btn-sm" id="btnExportExcel" type="button"><i class="bi bi-file-earmark-excel-fill"></i> Export </button>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-lg-12">
                        <table id="tableID" class="table table-striped table-bordered" style="width:100% ;font-family:'Calibri';">
                            <thead>
                                <tr role="row">

                                    <th style="text-align:center;">
                                        No Urut
                                    </th>
                                    <th style="text-align:center;">
                                        Item Divisi
                                    </th>
                                    <th style="text-align:center;">
                                        Action
                                    </th>
                                </tr>
                            </thead>

                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card-body" id="divForm">
                <form id="formData">
                    <input type="text" style="display:none" name="txtIdDivisi" id="txtIdDivisi">
                    <div class="body">
                        <div class="row mb-3">
                            <div class="col-sm-9">
                                <button type="button" class="btn btn-danger" id="backData" onclick="backForm()"><i class="bi bi-arrow-left-square"></i> Back</button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="txtNamaDivisi" class="col-sm-3 col-form-label">Nama Divisi</label>
                            <div class="col-sm-9">
                                <input type="text" id="txtNamaDivisi" name="txtNamaDivisi" MaxLength="80" class="text-uppercase form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="txtNoUrutDivisi" class="col-sm-3 col-form-label">No Urut</label>
                            <div class="col-sm-9">
                                <input type="text" id="txtNoUrutDivisi" name="txtNoUrutDivisi" MaxLength="2" class="numberonly form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-9">
                                <button type="button" class="btn btn-primary" id="InsertData">Save</button>
                                <button type="button" class="btn btn-primary" id="UpdateData">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="KonfirmasiDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="KonfirmasiDelete" role="dialog" aria-hidden="true" data-tor-parent="show">
    <div class="modal-dialog modal-dialog-centered no-transform">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Delete Divisi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Data akan dihapus?</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-primary" id="ConfirmDelete">Confirm</a>
            </div>
        </div>
    </div>
</div>

<style>
    div.dataTables_info {
        padding-top: 9px;
        font-size: 13px;
        font-weight: 700;
        font-style: italic;
        color: #969696;
    }

    a.page-link {
        font-size: 13px;
        font-weight: 600;
        margin-top: 5px;
    }

    div.dataTables_wrapper div.dataTables_filter input {
        margin-left: 0.5em;
        display: inline-block;
        width: 300px;
        height: 20px;
    }

    readonly {
        background: #fefe;
    }
</style>
<script>
    var Table;
    let CurrTahun = new Date().getFullYear();
    $(document).ready(function () {

        loadData();

        $('.select2').select2({ container: 'body' });

        $("#formData").validate(
        {
            rules:{   //Validation rules work on name attribute
                txtNamaDivisi: {  //Condition Area
                    required: true
                },
                txtNoUrutDivisi:{  //Condition Area
                       required:true
                }

            },
            messages: {
                txtNamaDivisi: {
                     required: "Item Divisi harus diisi"
                },
                txtNoUrutDivisi: {
                     required: "Karyawan harus diisi"
                }

            }

        });

         $("#tableID").dataTable({
            bDestroy: true,
            data: [],
            columns: [

                { "data": "NoUrutDivisi", className: "text-center" },
                { "data": "NamaDivisi", className: "text-center" },
                {
                    "data": "Action",  className: "text-center", "render": function (data, type, row) {
                        //if ('@ViewBag.AllowDelete' == '0') {

                        //    return '<a href="#" class="fa fa-pencil" onclick="EditRecord(\'' + row.IdDivisi + '\')" />  &nbsp; | &nbsp; <a href="javascript:void(0)" class="fa fa-trash-o disable"  />'
                        //} else {

                            return '<a href="#" Class="btn btn-sm btn-info" onclick="EditRecord(\'' + row.IdDivisi + '\')" /><i class="bi bi-pencil-square" ></i></a> <a Class="btn btn-sm btn-danger" onclick="DeleteRecord(\'' + row.IdDivisi + '\')"/><i class="bi  bi-eraser-fill" ></i></a>';
                        //}
                    }
                },
            ],

            //rowCallback: function (row, data) { responsiveHelper_dt_basic.createExpandIcon(row) },
            filter: true,
            info: true,
            ordering: true,
            //processing: true,
            //retrieve: true,
            bLengthChange: false,
            //lengthMenu: [[15, 20, -1], [15, 20, "All"]],
            //bFilter: true,
            //bSort: true,
            //bPaginate: true,
            //scrollX: true,
             //scrollX: "100%",
            searching:true,
            //autoWidth: true,
            language: { search: '', searchPlaceholder: "Search..." },
            pageLength:10,
            //preDrawCallback: function () {
            //    // Initialize the responsive datatables helper once.
            //    if (!responsiveHelper_dt_basic) {
            //        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#tableID'), breakpointDefinition);
            //    }
            //},
            //drawCallback: function (oSettings) {
            //    responsiveHelper_dt_basic.respond();
            //}
         });

        function loadData() {
            $.ajax({
                url: '@Url.Action("GetList","Divisi")',
                type: "GET",
            }).done(function (result) {
                $("#divData").show();
                $("#divForm").hide();
                $("#tableID").DataTable().clear();
                $("#tableID").DataTable().rows.add(result).draw(false);
                $("#tableID").DataTable().columns.adjust().draw();
            }).fail(function (jqXHR, textStatus, errorThrown) {
                // needs to implement if it fails
            });
        }

         $('.numberonly').keypress(function (e) {
             var charCode = (e.which) ? e.which : event.keyCode
             if (String.fromCharCode(charCode).match(/[^\d.]/g))
                 return false;
         });

         $("#InsertData").click(function () {
            if ($("#formData").valid()) {
                //var data = $("#formData").serialize();
                var data = "NamaDivisi=" + $("#txtNamaDivisi").val() + "&NoUrutDivisi=" + $("#txtNoUrutDivisi").val();
                $.ajax({
                    type: "Post",
                    url: "@Url.Action("InsertData", "Divisi")",
                    data: data,
                    success: function (data) {
                        //debugger;
                        if (!data.Status) {
                            Swal.fire({ icon: "error", title: data.Message, showConfirmButton: false, timer: 2000 });
                        } else {
                            Swal.fire({ icon: "success", title: "Data Saved Success!", showConfirmButton: false, timer: 2000 });
                            loadData();
                            $('#divData').show();
                            $('#divForm').hide();
                        }
                    },
                    error: function (xhr, textStatus, exceptionThrown) {
                         alert(xhr.responseText);
                    }
                })
            }

         });

        $("#UpdateData").click(function () {
            if ($("#formData").valid()) {
                //var data = $("#formData").serialize();
               var dataObj = {
                    IdDivisi: $('#txtIdDivisi').val(),
                    NamaDivisi: $('#txtNamaDivisi').val(),
                    NoUrutDivisi: $('#txtNoUrutDivisi').val()
                };
                $.ajax({
                    type: "Post",
                    url: "@Url.Action("UpdateData", "Divisi")",
                    data: JSON.stringify(dataObj),
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        //debugger;
                        if (!data.Status) {
                            Swal.fire({ icon: "error", title: data.Message, showConfirmButton: false, timer: 2000 });
                        } else {
                            Swal.fire({ icon: "success", title: "Data Saved Success!", showConfirmButton: false, timer: 2000 });
                            loadData();
                            $('#divData').show();
                            $('#divForm').hide();
                        }
                    },
                    error: function (xhr, textStatus, exceptionThrown) {
                         alert(xhr.responseText);
                    }
                })
            }

        });

          $("#ConfirmDelete").click(function () {
                var IdDivisi = $("#txtIdDivisi").val();
              $.ajax({
                  type: "Post",
                  url: '@Url.Action("DeleteData", "Divisi")?IdDivisi='+IdDivisi,
                        success: function (data) {
                            debugger;
                            if (!data.Status) {
                                window.alert(data.ErrorMessage, 'Warning', { timeOut: 3000, "closeButton": true });
                            } else {
                                Swal.fire({ icon: "success", title: "Delete Data Success!", showConfirmButton: false, timer: 1800 });
                                $("#KonfirmasiDelete").modal("hide");
                                loadData();
                            }
                        },
                        error: function (xhr, textStatus, exceptionThrown) {
                             alert(xhr.responseText);
                        }
                    })
          });
         
         
    });
      // Add New
    function AddNewData() {
        resetForm();
        $('#txtNamaDivisi').focus();
        $("#divData").hide();
        $("#divForm").show();
        $('#InsertData').show();
        $('#UpdateData').hide();
    }


    function resetForm() {
            var $form = $('#formData');
            $form.validate().resetForm();

            $('#txtIdDivisi').val('');
            $('#txtNamaDivisi').val('');
            $('#txtNoUrutDivisi').val('');
    }

    function DeleteRecord(id) {
        $("#txtIdDivisi").val(id);
        $("#KonfirmasiDelete").modal("show");
    }

    function backForm() {
        $("#divData").show();
        $("#divForm").hide();
    }

    function EditRecord(id) {
        resetForm();
        var url = '@Url.Action("GetDataByCode", "Divisi")';
        var data = "IdDivisi="+id;
        $("#divData").hide();
        $("#divForm").show();
        $.ajax({
            type: "GET",
            url: url,
            data: data,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#txtIdDivisi").val(obj.IdDivisi);
                $("#txtNamaDivisi").val(obj.NamaDivisi);
                $("#txtNoUrutDivisi").val(obj.NoUrutDivisi);
                $('#InsertData').hide();
                $('#UpdateData').show();
            }
        })
    }

</script>



